:root {
    --fg-color: rgb(57, 62, 65);
    --bg-color: rgb(255, 255, 255);
    --color1: rgb(68, 187, 164);
    --color2: rgb(231, 187, 65);
    --color3: rgba(211, 208, 203, 1);
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--fg-color);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

input.post-title {
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--color3);
    color: var(--fg-color);
}

div.container {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-flow: column;
    width: 80%;
    margin: auto;
}

