:root {
    --fg-color: rgb(57, 62, 65);
    --bg-color: rgb(255, 255, 255);
    --color1: rgb(68, 187, 164);
    --color2: rgb(231, 187, 65);
    --color3: rgba(211, 208, 203, 1);
}

html, body, div#root, div.container {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

h1,h2,h3,h4,h5 {
    color: var(--fg-color);
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Red Rose', cursive;
}

h1 {
    font-size: 40px;
}

#score-value {
    font-size: 40px
    justify-content: space-around;
    display: flex;
    font-weight: bold;
}

input.post-title {
    background-color: transparent;
    text-align: center;
    border: 0;
    outline: none;
}

div.test-input {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-flow: column;
    height: 100%;
    transition: background-color 0.5s ease;
}

table.posts-table {
    width: 100%;
}
